div {
  margin-bottom: 20px;
  margin-left: 10px;
}

html {
  background-image: url('robinthebank.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header img {
  float: right;
}

a {
  /* happens to all links */
  text-decoration: none;
  color: white;
}

a:hover {
  /* happens when the mouse cursor is on the link */
  color: green;
}

a:active {
  /* happens when the link is being clicked */
  color: yellow;
}

a:visited {
  /* happens when the link is visited(after clicking on a link to a valid webpage) */
  color: none;
}

div{
  text-align: center;
}
.managingTable {
  text-align: center;
}

.login {
  max-width: 300px;
  clear: both;
}

.login label {
  display: block;
  margin-bottom: 5px;
}

.login input {
  width: 60%;
  clear: both;
  float: right;
}

.nav_bar {
  background-color: #d46326;
}

#title {
  font-size: 20px;
}

#normalText {
  font-size: 15px;
  font-family: sans-serif;
}

#delete {
  background-color: black;
  color: red;
}

#signUp {
  color: #d46326;
  font-weight: bold;
}

#signUp:hover {
  /* happens when the mouse cursor is on the link */
  color: green;
}

#signUp:active {
  /* happens when the link is being clicked */
  color: yellow;
}

.centerTest {
  width:100%;
  text-align:center;
}

.centerTable{
  margin-left: auto;
  margin-right: auto;
}

.managingTable table {
  margin-left: auto;
  margin-right: auto;
}

#accountList table {
  margin-left: auto;
  margin-right: auto;
}

table {
  text-align: center;
}

.textback
{
    font-family: 'Comic Sans MS';
    border-radius: 10px;
    background-color: #FF6961;
    padding: 3px;
}

p{
  font-size: 20px;
}
