div {
  margin-bottom: 20px;
  margin-left: 10px;
}

.login {
  max-width: 300px;
  clear: both;
}

.login label {
  display: block;
  margin-bottom: 5px;
}

.login input {
  width: 60%;
  clear: both;
  float: right;

}
#title {
  font-size: 20px;
}

#normalText {
  font-size: 15px;
  font-family: sans-serif;
}

#delete {
  color: red;
}
